<ion-header>
  <ion-toolbar [color]="id ? 'secondary' : 'primary'">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{txtHeader}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #myForm="ngForm" (ngSubmit)="onSubmit( myForm.value )">
    <ion-item>
      <ion-label position="fixed">Firstname</ion-label>
      <ion-input type="text" name="firstname" [(ngModel)]="firstname" required="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Lastname</ion-label>
      <ion-input type="text" name="lastname" [(ngModel)]="lastname" required="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="fixed">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="fixed">Company</ion-label>
      <ion-select name="company_id" [(ngModel)]="company_id" (ionChange)="getCompanyName($event)">
        <ion-select-option *ngFor="let company of companies" [value]="company._id">{{company.name}}</ion-select-option>
      </ion-select>
      <input type="hidden" name="company" [(ngModel)]="company">
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Phone</ion-label>
      <ion-input type="text" name="phone" [(ngModel)]="phone" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Message</ion-label>
      <ion-textarea rows="4" name="message" [(ngModel)]="message" ></ion-textarea>
    </ion-item>
    <ion-button [color]="id ? 'secondary' : 'primary'" type="submit" expand="block">{{txtButton}}</ion-button>
  </form>
</ion-content>
