<ion-header>
  <ion-toolbar [color]="id ? 'secondary' : 'primary'">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{txtHeader}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #myForm="ngForm" (ngSubmit)="onSubmit( myForm.value )">
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="name" required="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Type</ion-label>
      <ion-input type="text" name="type" [(ngModel)]="type" required="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Address</ion-label>
      <ion-input type="text" name="address" [(ngModel)]="address" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Url</ion-label>
      <ion-input type="text" name="site_url" [(ngModel)]="site_url" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Description</ion-label>
      <ion-textarea rows="4" name="description" [(ngModel)]="description" ></ion-textarea>
    </ion-item>
    <ion-button [color]="id ? 'secondary' : 'primary'" type="submit" expand="block">{{txtButton}}</ion-button>
  </form>
</ion-content>
