<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-contact']" color="primary">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>

<ion-item-sliding *ngFor="let contact of contacts">

  <ion-item [routerLink]="['/update-contact',contact._id]">
    <ion-label>
      <h2>{{contact.firstname}} {{contact.lastname}}</h2>
      <h3>{{contact.email}}</h3>
      <p>{{contact.company}}</p>
      
    </ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger" expandable>
      <ion-button color="danger" (click)="delete( contact._id )">Delete</ion-button>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>

</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button [routerLink]="['/add-contact']">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab>

</ion-content>
